<% provide(:title, "Basic commands") %>
		
		<h1>Basic commands</h1>

		<h3> Frequently used commands </h3>

		<ul>
		<li> Git 	</li>
		<li> Heroku </li>
		<li> Rails 	</li>
		<li> Unix 	</li>
		</ul>

		<h4>Git</h4>

		<p>Initial setup </p>
		
		<div class="highlight">
			<pre><span class="k">$</span> <span class="s">git init<br></span><span class="k">$</span> <span class="s">git add -A<br></span><span class="k">$</span> <span class="s">git commit -m "Initialize repository<br></pre>
		</div>
	


		<p> Adding on to project <p>
		<div class="highlight">
			<pre><span class="k">$</span> <span class="s">git checkout master<br></span><span class="k">$</span> <span class="s">git checkout -b static-pages<br></pre>
		</div>




		<h4> Heroku</h4>
		<div class="highlight">
			<pre><span class="k">$</span> <span class="s">git commit -am "Add hello" <br></span><span class="k">$</span> <span class="s">heroku create<br></span><span class="k">$</span> <span class="s">git push heroku master<br></pre>
		</div>



		<h4> Rails </h4>
		<div class="highlight">
			<pre><span class="k">$</span> <span class="s">rails new</span> <span class="n">&quot;nameApp&quot;</span></pre>
		</div>
















