<% provide(:title, "Guide rails") %>

<h1> Guide Rails </h1>

	<p>Contains</p>

	<ul>
		<li> Mail and message content</li>
		<li> Bootstrap</li>
		<li> Using different fonts </li>
		<li> TDD</li>
		<li> GITrepo</li>
		<li> Responsive website</li>
		<li> Dry rails code and</li>
		<li> Usage of gems </li>
		<li> Pushing website to Heroku and getting own URL insteat of Heroku URL</li>

	</ul>


<h1>Starting rails project </h1>
	<code>$rails new "nameApp" </code>




    
