<% provide(:title, "Home") %>

  		<h1>Home</h1>

		<p>Het is idee is om ieder project eerst als turorial met de bewandelen stappen vast te leggen, en daarna pas aan hand hiervan de applicatie werkelijk te bouwen.
		De lijst wordt gemaakt in HTML en misschine uiteindelijk wel een rails app</p>

		<p> Lijst met recepten/ ideeen:</p>
		<ul>
			<li><a href= "one_page_scroll.html.erb">one page scroll met mail integratie</a> </li>
			<li>web winkel</li>
			<li>aanvraag formulier</li>
			<li>spelletjes platform met Gosu </li>
			<li>bibliiotheek van alle recepten</li>
			<li>iets met google maps integratie  </li>

		</ul>

		<p><a href="basic_commands.html.erb">Frequently used commands </a></p>

		<p> de Repo is dan uitendelijk te vinden op  <a href="https://github.com/kevinegstorf"> githubprofiel kevin </a> </p>

		

