<% provide(:title, "Onepagescroll") %>

<h1> Onepage Scroll Rails Manual </h1>

	<h3>Contains</h3>

	<ul>
		<li> Mail and message content</li>
		<li> Bootstrap</li>
		<li> Using different fonts </li>
		<li> TDD</li>
		<li> GITrepo</li>
		<li> Responsive website</li>
		<li> Dry rails code and</li>
		<li> Usage of gems </li>
		<li> Pushing website to Heroku and getting own URL insteat of Heroku URL</li>

	</ul>


<h4>Starting rails project </h4>
	<div class="highlight">
		<pre><span class="k">$</span> <span class="s">rails new</span> <span class="n">&quot;nameApp&quot;</span></pre>
	</div>



	<div class="highlight">
		<pre><span class="k">$</span> <span class="s">git checkout master<br></span><span class="k">$</span> <span class="s">git checkout -b static-pages<br></pre>
	</div>


	<div class="highlight">
		<pre><span class="k">$</span> <span class="s">rails generate controller StaticPages home</span></pre>
	</div>

rails generate controller StaticPages home
	


