<footer class="footer">

  <small>
     This guide is written by Kevin Egstorf
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://github.com/kevinegstorf">Github</a></li>
    </ul>
  </nav>
</footer>